{% extends "base.html" %}

{% block content %}

<section class="confirmation-section">
    <div class="confirmation-card">

        <h2 class="success-text">🎉Booking Confirmed!</h2>

        <div class="booking-details">
            <p><strong>Name:</strong> {{ booking.name }}</p>
            <p><strong>Email:</strong> {{ booking.email }}</p>
            <p><strong>Phone:</strong> {{ booking.phone }}</p>
            <p><strong>Room Type:</strong> {{ booking.room.name }}</p>
            <p><strong>Check-in:</strong> {{ booking.check_in }}</p>
            <p><strong>Check-out:</strong> {{ booking.check_out }}</p>
            <p><strong>Rooms Booked:</strong> {{ booking.number_of_rooms }}</p>
            <p class="total-price"><strong>Total Price:</strong> ₹{{ booking.total_price }}</p>
        </div>

        <a href="{% url 'home' %}" class="home-btn">Back to Home</a>
    </div>

</section>

{% endblock %}